# Malaysian Islamic Equity Trend Prediction (MIETP)
## Data Mining (WQD7005)

## Authors
(1) Pavitra
(2) Shobana

In [93]:
#LIBRARIES
import requests
import urllib.request
import time
import pandas as pd
# import boto3
from bs4 import BeautifulSoup

#PREPARE DF
shariah = pd.DataFrame()

#LOOP FETCH URL
for i in range(1, 20):
    url = 'https://www.bursamalaysia.com/market_information/shariah_compliant_equities_prices?per_page=50&page='+str(i)
    response = requests.get(url)
    
#BS ELEMENT
    soup = BeautifulSoup(response.text, "html.parser")
    data = []
    table = soup.find('table', attrs={'class':'table datatable-striped text-center equity_prices_table datatable-with-sneak-peek js-anchor-price-table'})
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
  
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])
    
#APPEND DF
    df = pd.DataFrame(data)
    df2 = df.iloc[:, :-1]
    shariah = shariah.append(df2, ignore_index = True)

#RENAME COLUMNS
    shariah_table = shariah.rename(columns = {0: "NO", 1: "NAME", 2: "CODE", 3: "REM", 4: "LAST_DONE", 5: "LACP", 6: "CHG", 7: "%CHG", 8: "VOL('00)", 9: "BUY_VOL('00)", 10: "BUY", 11: "SELL", 12: "SEL_VOL('00)", 13: "HIGH", 14: "LOW"})
    current_date = time.strftime("%Y%m%d")
    shariah_table["Date"] =current_date
#SAVING FILE
#     shariah_table.to_csv(current_date + "_shariah_fulldump.csv")

In [60]:
table

<table class="table datatable-striped text-center equity_prices_table datatable-with-sneak-peek js-anchor-price-table" data-entries-count="925" style="width: 100%;">
<thead class="upper font-xxsmall">
<tr class="">
<th data-sort="" scope="col">No</th>
<th class="tooltip-js" data-sort="short_name" scope="col" title="Stock Short Name">Name</th>
<th class="tooltip-js" data-sort="stock_id" scope="col" title="Stock Code">Code</th>
<!-- data-toggle="tooltip" data-placement="top" title="Tooltip on top" -->
<th class="tooltip-js" data-sort="remarks" scope="col" title="Remark. E.g. Short Selling available / Suspended">REM</th>
<th class="tooltip-js" data-sort="last_done_price" scope="col" title="Current Last Traded Price">Last Done</th>
<th class="tooltip-js" data-sort="previous" scope="col" title="Last Adjusted Closing Price">LACP</th>
<th class="tooltip-js" data-sort="change" scope="col" title="Current Price Change">CHG</th>
<th class="tooltip-js" data-sort="percent_change" scope="col" title="Current Price Change in Percentage">%CHG</th>
<th class="tooltip-js" data-sort="cumulative_vol" scope="col" title="Current Volume Traded">Vol ('00)</th>
<th class="tooltip-js" data-sort="buy_volume" scope="col" title="Best Buy Volume in Order Book">BUY Vol ('00)</th>
<th class="tooltip-js" data-sort="buy_price" scope="col" title="Best Buy Price">BUY</th>
<th class="tooltip-js" data-sort="sell_price" scope="col" title="Best Sell Price">SELL</th>
<th class="tooltip-js" data-sort="sell_volume" scope="col" title="Best Sell Volume in Order Book">SELL Vol ('00)</th>
<th class="tooltip-js" data-sort="high" scope="col" title="Highest Traded Price for the Day">HIGH</th>
<th class="tooltip-js" data-sort="low" scope="col" title="Lowest Traded Price for the Day">LOW</th>
<th class="stock-id hidden">STOCK CODE</th>
</tr>
</thead>
<tbody class="font-xsmall">
<tr class="" id="data-1">
<td>901</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TASEK [S]
              </td>
<td>4448</td>
<td>s</td>
<td>

                  -

              </td>
<td>5.700</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>109</td>
<td>5.600</td>
<td>5.800</td>
<td>29</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">4448</td>
</tr>
<tr class="" id="data-1">
<td>902</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TGL [S]
              </td>
<td>9369</td>
<td>s</td>
<td>

                  -

              </td>
<td>1.200</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>50</td>
<td>1.080</td>
<td>1.200</td>
<td>20</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">9369</td>
</tr>
<tr class="" id="data-1">
<td>903</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                THHEAVY-PB [S]
              </td>
<td>7206PB</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.110</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>137</td>
<td>0.085</td>
<td>-</td>
<td>-</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7206PB</td>
</tr>
<tr class="" id="data-1">
<td>904</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TIMWELL [S]
              </td>
<td>7854</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.520</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>50</td>
<td>0.410</td>
<td>0.525</td>
<td>50</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7854</td>
</tr>
<tr class="" id="data-1">
<td>905</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TITIJYA-PA [S]
              </td>
<td>5239PA</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.030</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>27,520</td>
<td>0.025</td>
<td>0.030</td>
<td>29,378</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">5239PA</td>
</tr>
<tr class="" id="data-1">
<td>906</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TOCEAN [S]
              </td>
<td>7218</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.500</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>100</td>
<td>0.420</td>
<td>0.500</td>
<td>100</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7218</td>
</tr>
<tr class="" id="data-1">
<td>907</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TPC [S]
              </td>
<td>7176</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.275</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>120</td>
<td>0.260</td>
<td>0.310</td>
<td>350</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7176</td>
</tr>
<tr class="" id="data-1">
<td>908</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TPC-WA [S]
              </td>
<td>7176WA</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.065</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>663</td>
<td>0.055</td>
<td>0.065</td>
<td>450</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7176WA</td>
</tr>
<tr class="" id="data-1">
<td>909</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TRIMODE [S]
              </td>
<td>0199</td>
<td></td>
<td>

                  -

              </td>
<td>0.310</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>100</td>
<td>0.265</td>
<td>0.300</td>
<td>99</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">0199</td>
</tr>
<tr class="" id="data-1">
<td>910</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TRIVE-WB [S]
              </td>
<td>0118WB</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.005</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>0.005</td>
<td>384,422</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">0118WB</td>
</tr>
<tr class="" id="data-1">
<td>911</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                TTV [S]
              </td>
<td>03020</td>
<td></td>
<td>

                  -

              </td>
<td>0.205</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>500</td>
<td>0.200</td>
<td>-</td>
<td>-</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">03020</td>
</tr>
<tr class="" id="data-1">
<td>912</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                UMCCA [S]
              </td>
<td>2593</td>
<td>s</td>
<td>

                  -

              </td>
<td>5.100</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>25</td>
<td>5.020</td>
<td>5.200</td>
<td>50</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">2593</td>
</tr>
<tr class="" id="data-1">
<td>913</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                UMSNGB [S]
              </td>
<td>7227</td>
<td>[c]  s</td>
<td>

                  -

              </td>
<td>0.850</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>40</td>
<td>0.760</td>
<td>0.900</td>
<td>120</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7227</td>
</tr>
<tr class="" id="data-1">
<td>914</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                UNIWALL [S]
              </td>
<td>03017</td>
<td></td>
<td>

                  -

              </td>
<td>1.350</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1.400</td>
<td>100</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">03017</td>
</tr>
<tr class="" id="data-1">
<td>915</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                VIVOCOM-WD [S]
              </td>
<td>0069WD</td>
<td></td>
<td>

                  -

              </td>
<td>0.005</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>0.005</td>
<td>181,021</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">0069WD</td>
</tr>
<tr class="" id="data-1">
<td>916</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                VIZIONE-WC [S]
              </td>
<td>7070WC</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.215</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>150</td>
<td>0.175</td>
<td>0.215</td>
<td>1,397</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7070WC</td>
</tr>
<tr class="" id="data-1">
<td>917</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                WATTA [S]
              </td>
<td>7226</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.500</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>40</td>
<td>0.405</td>
<td>0.460</td>
<td>294</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7226</td>
</tr>
<tr class="" id="data-1">
<td>918</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                WONG [S]
              </td>
<td>7050</td>
<td>[c]  s</td>
<td>

                  -

              </td>
<td>0.485</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>100</td>
<td>0.430</td>
<td>0.480</td>
<td>56</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7050</td>
</tr>
<tr class="" id="data-1">
<td>919</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                WOODLAN [S]
              </td>
<td>7025</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.535</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>50</td>
<td>0.500</td>
<td>-</td>
<td>-</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7025</td>
</tr>
<tr class="" id="data-1">
<td>920</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                WTHORSE [S]
              </td>
<td>5009</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.930</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>30</td>
<td>0.875</td>
<td>0.925</td>
<td>20</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">5009</td>
</tr>
<tr class="" id="data-1">
<td>921</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                Y&amp;G [S]
              </td>
<td>7003</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.770</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>100</td>
<td>0.765</td>
<td>0.980</td>
<td>55</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7003</td>
</tr>
<tr class="" id="data-1">
<td>922</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                YGL [S]
              </td>
<td>0086</td>
<td></td>
<td>

                  -

              </td>
<td>0.140</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>800</td>
<td>0.125</td>
<td>0.140</td>
<td>1,475</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">0086</td>
</tr>
<tr class="" id="data-1">
<td>923</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                YILAI [S]
              </td>
<td>5048</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.500</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>200</td>
<td>0.490</td>
<td>0.550</td>
<td>200</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">5048</td>
</tr>
<tr class="" id="data-1">
<td>924</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                YLI [S]
              </td>
<td>7014</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.190</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>50</td>
<td>0.200</td>
<td>0.250</td>
<td>250</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">7014</td>
</tr>
<tr class="" id="data-1">
<td>925</td>
<td class="text-left pl-4 bold">
<span class="nochange"></span>

                YOCB [S]
              </td>
<td>5159</td>
<td>s</td>
<td>

                  -

              </td>
<td>0.815</td>
<td class="text-dark">
<div class="stock_change text-center">
                  -
                </div>
</td>
<td class="text-dark">
<div class="text-center">
                  -
                </div>
</td>
<td>-</td>
<td>10</td>
<td>0.815</td>
<td>0.840</td>
<td>620</td>
<td>

                  -

              </td>
<td>

                  -

              </td>
<td class="stock-id hidden">5159</td>
</tr>
</tbody>
</table>

In [72]:
#LIBRARIES
import requests
import urllib.request
import time
import pandas as pd
# import boto3
from bs4 import BeautifulSoup

#PREPARE DF
biz = pd.DataFrame()

#LOOP FETCH URL
url = "https://www.malaysiastock.biz/Market-Watch.aspx?type=A&value=C"
response = requests.get(url)
    
#BS ELEMENT
soup = BeautifulSoup(response.text, "html.parser")
data = []
table = soup.find('table', attrs={'class':'mGrid'})
table_body = table.find('tbody')
rows = table_body.find_all('tr')
  
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
#APPEND DF
df = pd.DataFrame(data)
df2 = df.iloc[:, :-1]
biz = biz.append(df2, ignore_index = True)
#RENAME COLUMNS
# biz_table = biz.rename(columns = {0: "Stock Code", 1: "Stock Name", 2: "Ref", 3: "Open", 4: "Last", 5: "Change", 6: "Change(%)", 7: "Volume"})
# current_date = time.strftime("%Y%m%d")
#     shariah_table["Date"] =current_date
# #SAVING FILE
#     shariah_table.to_csv(current_date + "_shariah_fulldump.csv")

AttributeError: 'NoneType' object has no attribute 'find'

In [15]:
tb = soup.find('table', class_='marketWatch')

In [74]:
biz.head()

Empty DataFrame
Columns: []
Index: []

In [73]:
biz_table.head()

,Stock Code,Stock Name,Ref,Open,Last,Change,Change(%),Volume,8,9,10,11,12,13,14
0,901,TASEK [S],4448,s,-,5.700,-,-,-,109,5.600,5.800,29,-,-
1,902,TGL [S],9369,s,-,1.200,-,-,-,50,1.080,1.200,20,-,-
2,903,THHEAVY-PB [S],7206PB,s,-,0.110,-,-,-,137,0.085,-,-,-,-
3,904,TIMWELL [S],7854,s,-,0.520,-,-,-,50,0.410,0.525,50,-,-
4,905,TITIJYA-PA [S],5239PA,s,-,0.030,-,-,-,"27,520",0.025,0.030,"29,378",-,-

In [33]:
for row in rows:
    cols = row.find_all('th')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
#APPEND DF
df = pd.DataFrame(data)
df2 = df.iloc[:, :-1]
biz = biz.append(df2, ignore_index = True)
biz.head(2)
#RENAME COLUMNS
biz_table = biz.rename(columns = {0: "Stock Code", 1: "Stock Name", 2: "Ref", 3: "Open", 4: "Last", 5: "Change", 6: "Change(%)", 7: "Volume"})
current_date = time.strftime("%Y%m%d")

In [37]:
for row in rows:
    cols = row.find_all('th')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
#APPEND DF
df = pd.DataFrame(data)
df2 = df.iloc[:, :-1]
biz = biz.append(df2, ignore_index = True)
biz.head(2)
#RENAME COLUMNS
biz_table = biz.rename(columns = {0: "Stock Code", 1: "Stock Name", 2: "Ref", 3: "Open", 4: "Last", 5: "Change", 6: "Change(%)", 7: "Volume"})
current_date = time.strftime("%Y%m%d")

In [96]:
import requests
import urllib.request
import time
import pandas as pd
from bs4 import BeautifulSoup
data = []
url = "https://www.malaysiastock.biz/Corporate-Infomation.aspx?securityCode=5213"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

table = soup.find(id="MainContent_Panel")

# df= pd.read_html(str(table_body))
# df = pd.DataFrame(df)

print(soup.title)

<title>
	SNTORIA Share Price: SENTORIA GROUP BERHAD (5213)
</title>

In [90]:
df.to_csv("SNTORIA Share Price: SENTORIA GROUP BERHAD (5213).csv")

AttributeError: 'list' object has no attribute 'to_csv'

In [155]:
import requests
import urllib.request
import time
import pandas as pd
from bs4 import BeautifulSoup
full_data = pd.DataFrame()

my_url = 'https://www.malaysiastock.biz/Market-Watch.aspx?type=A&value={}'

letter = "A"
url = my_url.format(letter)
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
data = []
table = soup.find(id="MainContent_tbStockWithAlphabet")
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
df = pd.DataFrame(data)
df2 = df.iloc[1:, :-1]
full_data = full_data.append(df2, ignore_index = True)
full_data = full_data.rename(columns = {0: "Stock Code", 1: "Stock Name", 2: "Ref", 3: "Open", 4: "Last", 5: "Change", 6: "Change(%)", 7: "Volume"})

# df= pd.read_html(str(table_body))

# df = pd.DataFrame(df)

print(soup.title)

<title>
	Market Watch | MalaysiaStock.Biz
</title>

In [156]:
full_data

    Stock Code   Stock Name    Ref   Open   Last  Change Change(%)
0       070348  A50CHIN-C48  0.020  0.000  0.000   0.000      0.00
1       070350  A50CHIN-C50  0.050  0.000  0.000   0.000      0.00
2       070352  A50CHIN-C52  0.045  0.000  0.000   0.000      0.00
3       070354  A50CHIN-C54  0.400  0.375  0.340  -0.060    -15.00
4       070356  A50CHIN-C56  0.110  0.000  0.000   0.000      0.00
5       070358  A50CHIN-C58  0.300  0.000  0.000   0.000      0.00
6       070360  A50CHIN-C60  0.565  0.000  0.000   0.000      0.00
7       070333  A50CHIN-H33  0.215  0.000  0.000   0.000      0.00
8       070335  A50CHIN-H35  0.005  0.005  0.005   0.000      0.00
9       070337  A50CHIN-H37  0.085  0.095  0.115  +0.030    +35.29
10      070339  A50CHIN-H39  0.070  0.075  0.080  +0.010    +14.29
11      070341  A50CHIN-H41  0.445  0.455  0.455  +0.010     +2.25
12      070343  A50CHIN-H43  0.150  0.000  0.000   0.000      0.00
13      070345  A50CHIN-H45  0.225  0.240  0.260  +0.035    +15.56
14        7054        AASIA  0.100  0.100  0.100   0.000      0.00
15        5238          AAX  0.095  0.095  0.090  -0.005     -5.26
16      5238WA       AAX-WA  0.005  0.005  0.005   0.000      0.00
17      0800EA       ABFMY1  1.261  1.266  1.266  +0.005     +0.40
18        7086      ABLEGRP  0.070  0.000  0.000   0.000      0.00
19        2488         ABMB  2.260  2.260  2.220  -0.040     -1.77
20      2488C2      ABMB-C2  0.015  0.000  0.000   0.000      0.00
21      2488C3      ABMB-C3  0.035  0.030  0.030  -0.005    -14.29
22       03028      ACEINNO  0.360  0.000  0.000   0.000      0.00
23        7131         ACME  0.220  0.000  0.000   0.000      0.00
24      7131WA      ACME-WA  0.060  0.000  0.000   0.000      0.00
25        7120      ACOSTEC  0.335  0.320  0.320  -0.015     -4.48
26        5281       ADVCON  0.325  0.325  0.325   0.000      0.00
27        7191      ADVENTA  0.710  0.730  0.720  +0.010     +1.41
28        9148       ADVPKG  2.170  2.150  2.180  +0.010     +0.46
29        7146          AEM  0.090  0.000  0.000   0.000      0.00
..         ...          ...    ...    ...    ...     ...       ...
145       0072           AT  0.035  0.035  0.035   0.000      0.00
146       8176       ATAIMS  1.490  1.380  1.380  -0.110     -7.38
147       7048        ATLAN  4.010  4.020  4.020  +0.010     +0.25
148       5130       ATRIUM  1.080  1.090  1.090  +0.010     +0.93
149       7099         ATTA  0.445  0.000  0.000   0.000      0.00
150     7099LA      ATTA-LA  0.055  0.000  0.000   0.000      0.00
151     7099PA      ATTA-PA  0.080  0.000  0.000   0.000      0.00
152     7099WB      ATTA-WB  0.060  0.000  0.000   0.000      0.00
153     7099WC      ATTA-WC  0.070  0.000  0.000   0.000      0.00
154       8885          AVI  0.140  0.140  0.135  -0.005     -3.57
155       7579          AWC  0.400  0.400  0.395  -0.005     -1.25
156     7579WA       AWC-WA  0.090  0.000  0.000   0.000      0.00
157       6888       AXIATA  4.050  4.070  4.000  -0.050     -1.23
158     688838   AXIATA-C38  0.060  0.000  0.000   0.000      0.00
159     688842   AXIATA-C42  0.005  0.000  0.000   0.000      0.00
160     688843   AXIATA-C43  0.005  0.000  0.000   0.000      0.00
161     688845   AXIATA-C45  0.050  0.000  0.000   0.000      0.00
162     688846   AXIATA-C46  0.070  0.000  0.000   0.000      0.00
163     688847   AXIATA-C47  0.045  0.000  0.000   0.000      0.00
164     688848   AXIATA-C48  0.045  0.000  0.000   0.000      0.00
165     688849   AXIATA-C49  0.055  0.055  0.055   0.000      0.00
166     688850   AXIATA-C50  0.035  0.000  0.000   0.000      0.00
167     688851   AXIATA-C51  0.120  0.000  0.000   0.000      0.00
168     688852   AXIATA-C52  0.095  0.090  0.090  -0.005     -5.26
169     688853   AXIATA-C53  0.150  0.000  0.000   0.000      0.00
170       5106       AXREIT  2.000  2.000  1.990  -0.010     -0.50
171       2305         AYER  6.050  6.000  6.000  -0.050     -0.83
172       5021          AYS  0.245  0.245  0.245   0.000      0.00
173       7078         AZRB  0.275  0.270  0.260  -0.015     -5.45
174     7078WA      AZRB-WA  0.140  0.000  0.000   0.000      0.00

[175 rows x 7 columns]

In [176]:
import requests
import urllib.request
import time
import pandas as pd
from bs4 import BeautifulSoup
full_data = pd.DataFrame()

url = "https://www.malaysiastock.biz/Corporate-Infomation.aspx?securityCode=5213"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
data = []
table = soup.find(id="MainContent_Panel")
# table_body = table.find('tbody')
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
df = pd.DataFrame(data)
df2 = df.iloc[1:, :-1]
full_data = full_data.append(df2, ignore_index = True)
full_data = full_data.rename(columns = {0: "Date", 1: "Financial Year", 2: "Subject", 3: "No.", 4: "Financial Quarter", 5: "Revenue (RM,000)", 6: "PBT (RM,000)", 7: "Net Profit (RM,000)",8:"EPS (Cent) Dividend",9:"(Cent) NTA",10:"(Cent) NTA (RM)",11:"YoY(%)"})


full_data.to_csv("df.csv")

# df= pd.read_html(str(table_body))

# df = pd.DataFrame(df)

print(soup.title)

<title>
	SNTORIA Share Price: SENTORIA GROUP BERHAD (5213)
</title>

In [178]:
full_data.to_csv("df.csv")

In [180]:
import os

In [181]:
os.getcwd()

'C:\\Users\\ada\\OneDrive\\Masters\\WQD7005_2.0\\Assignement'